/* ==========================================================================
   Typography

   * Base
   * Layout
   * Modules
   * States
   * Themes

   Resources:
   * http://smacss.com/
   * http://bem.info/method/definitions/
   * http://caniuse.com/
   * http://tympanus.net/codrops/category/playground/
   * http://icomoon.io/
   ========================================================================== */


/*
   Base
   ==========================================================================

    Normalising Base styles, no ID's or classes

*/

    body, form {
      font-family: 'quicksandregular';
        margin: 0;
        padding: 0; 
        color:#fff;
    }

    a {
        color: #039;
    }

    a:hover {
        color: #03F;
    }
    h1 {
      padding: 0px 20px;
      font-size: 300%;
      color:#47B361;
      background: url(../img/tree-logo.gif) no-repeat;
    }
    button {
     background: #3ea5bb;
     border:none;
     color:#fff;
     padding:10px;
     display: block;
     margin: 12px 0 0 0px;
    }

    label{
      display: block;
      margin: 10px 0;
    }
    input{
      padding:5px;
    }



/*
   Layout
   ==========================================================================

    Main layout styles  Think about applicability with ID's vs Classes
*/

    #header,
    #article,
    #footer {
        margin: auto;
        width: 960px;
    }

    #article {
        border: solid #CCC;
        border-width: 1px 0 0;
    }

/*
   Module
   ==========================================================================

    Modular reusable component styles - almost always class selectors (not element)

*/

    .module {
        padding: 10px 20px;
        width:80%;
        background:#47B361;
        border-top-left-radius:20px;
        border-bottom-right-radius:20px;
        margin:10px; auto;
    }

        .module .title {
            margin: 0 0 20px 0;
        }

    .style-guide {
        border: 3px rgba(0,0,0,0.2) solid;
        padding: 30px;
    }

        .text-box {
            margin: 0 0 30px 0;
        }

        .color-swatch {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .swatch-box {
                color: #FFF;
                display: inline-block;
                height: 100px;
                margin: 0 20px 20px 0;
                padding: 10px;
                width: 100px;
            }

/*
   State
   ==========================================================================

    Arguements that over write all other styles, a modified version

*/

    .is-active {
        border-color: #FF0000;
    }

    .alpha {
        background-color: #47B361;
    }

    .beta {
        background-color: #3ea5bb;
    }

    .gamma {
        background-color: #a47247;
    }


/*
   Theme
   ==========================================================================

    If your building a project with multiple themes - not always necessary

*/

    .mod-a {
        background: #FF0000;
    }